@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto+Slab&display=swap");
:root {
  /* define all colors */
  --bg-color: #f7f7f7;
  --bg-color-secondary: #dbe2ef;
  --primary: #3f72af;
  --secondary: #112d4e;
  --text: #212121;
  --secondary-text: #757575;
  --divider: #bdbdbd;
}

html {
  scroll-behavior: smooth;
}
body {
  background: var(--bg-color);
}

#home {
  height: 100vh;
  background-image: linear-gradient(#212121, #112d4e, #3f72af);
}
.particles-js-canvas-el {
  position: absolute;
  left: 0;
  top: 0;
}
.title {
  font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text {
  font-family: "Roboto Slab", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.divider {
  height: 0.125em;
  width: 100%;
  background: var(--divider);
}
.navbar-height-adjustment {
  padding-top: 61px;
}

/* Bootstrap override */
.modal-dialog {
  margin-top: 0px;
}
.modal-content {
  background: none;
  border: none;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 900px;
  }
}
